* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.bg {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #ff1d58, #fff685);
}

.span-two-horizontal {
    grid-column: span 2;
}

.span-two-vertical {
    grid-row: span 2;
}

.full-calculator {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(4, 4em);
    grid-template-rows: minmax(1em, auto) repeat(6, 4em);
    justify-content: center;
}

button {
    background-color: white;
    border: 3px black solid;
    margin: 1px;
}

button:hover {
    background-color: white;
}

.output {
    grid-column: 1 / -1;
    background-color: white;
    border: 3px black solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0.75rem;
    word-wrap: break-word;
    word-break: break-all;
    margin: 1px;
}

.previous-num {
    font-size: 1.2em;
}

.current-num {
    font-size: 3em;
}